<!DOCTYPE html>
<html lang="en">
<script type="text/javascript">
    "use strict";

    var SmartLeadsExample = function() {

        var me = this;

        /**
         * хранилище данных
         */
        this.data = [
            {id:12	,date:'02.07.2016'	,name:"Иванов Александр",  sum:'600.12'},
            {id:7	,date:'13.09.2017'	,name:"Семенов Николай",   sum:'7200.60'},
            {id:5	,date:'20.05.2015'	,name:"Антонов Алексей",   sum:'1248.16'},
            {id:18	,date:'24.12.2016'	,name:"Алексеев Игорь",    sum:'20.65'},
            {id:3	,date:'17.08.2015'	,name:"Потапов Серей",     sum:'12720.00'},
            {id:1	,date:'20.01.2015'	,name:"Николаев Иван",     sum:'121.16'},
            {id:21	,date:'25.02.2017'	,name:"Петров Алексей",    sum:'200.50'},
            {id:16	,date:'17.09.2016'	,name:"Морозов Сергей",    sum:'100.15'},
            {id:9	,date:'25.03.2015'	,name:"Иванов Константин", sum:'600.25'},
            {id:2	,date:'29.04.2017'	,name:"Потапов Андрей",    sum:'3200.00'}
        ];

        /**
         * Перерисовка таблицы
         */
        this.updateTable = function() {
            var html = '';
            for(var i=0; i < me.data.length; i++) {
                var row = me.data[i];
                html += '<tr><td>' + row.id
                    + '</td><td>' + row.date
                    + '</td><td class="name">' + row.name
                    + '</td><td>' + row.sum
                    + '</td></tr>';
            }
            document.getElementsByTagName('tbody').item(0).innerHTML = html;
        };

        /**
         * Функции-преобразователи типа для корректной сортировки
         */
        this.integerValue = function(v) {
            return parseInt(v);
        };

        this.dateValue = function(v) {
            return v.split(".").reverse().join("-");
        };

        this.textValue = function(v) {
            return v;
        };

        this.decimalValue = function(v) {
            return parseFloat(v);
        };

        /**
         * Сортировка хранилища по заданному ключу
         * вызов перерисовки
         */
        this.sort = function(key, type, dir) {
            var d = (dir === 'desc') ? -1 : 1;
            var typeHandler = type + 'Value';
            var getVal = me[typeHandler];
            me.data.sort(function(a, b){
                var r = getVal(a[key]) > getVal(b[key]) ? 1 : -1;
                return r * d;
            });
            me.updateTable();
        };

        /**
         * стирание класса индикатора сортировки
         */
        this.clearHeaders = function() {
            for(var i=0; i < me.headers.length; i++) {
                var h = me.headers[i];
                h.setAttribute('class', '');
            }
        };

        /**
         * Определение ключа сортировки по типу данных
         * Используется обстоятельство, что в тестовой задаче
         * тип данных однозначно определят колонку таблицы.
         * Если бы было несколько колонок с одинаковым типом,
         * то, скорее всего, его надо было бы брать из
         * аттрибута 'data-key', но сейчас он не добавлен,
         * чтобы не менять верстку
         * @type {{integer: string, date: string, text: string, decimal: string}}
         */
         this.keys = {
                integer: "id",
                date: "date",
                text: "name",
                decimal: "sum"
            };
         this.getKey = function(type) {
             return me.keys[type];
         };

        /**
         * Получение типа данных из атрибута заголовка
         * @param el
         * @returns {string}
         */
         this.getType = function(el) {
                return el.getAttribute('data-type');
            }

        /**
         * Обработчик клика по заголовку колонки
         * Определяет направление сортировки
         * Устанавливает класс индикатоу сортировки
         * вызывает процедуру сортировки
         * @param e
         */
         this.onHeaderClick = function(e) {

            var el = e.target;

            var dir = el.getAttribute('class');
            if(dir !== 'asc' && dir !== 'desc') {
                dir = 'asc';
            }
            else {
                dir = (dir === 'desc') ? 'asc' : 'desc';
            }

            me.clearHeaders();
            el.setAttribute('class', dir);

            var type = me.getType(el);
            var key = me.getKey(type);
            me.sort(key, type, dir);
        };

        /**
         * Инициализация модели
         */
         this.init = function() {
            me.headers = document.getElementsByTagName('th');
            for(var i=0; i < me.headers.length; i++) {
                var h = me.headers[i];
                h.addEventListener('click', me.onHeaderClick);
            }

        }
     };

     window.onload = function() {
        var ex = new SmartLeadsExample();
        ex.init();
    };


</script>

<head>
    <meta charset="UTF-8">
    <title>Сортировка таблицы</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid silver;
        }
        th {
            border: 1px solid silver;
            background-color: #e9e9e9;
        }

        th, td {
            padding: 0.25rem 0.75rem;
            cursor: pointer;
        }
        td {
            text-align: right;
        }
        .name {
            text-align: left;
        }
        .asc {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gkdCzEuLuUYhgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAABZSURBVDjLY2AY1IB38tb/hNQw4dFcj0yTbAADA0MDEibNAHRb8bmCiYDtDIRcwUTIdkLiTARsZyDkCiZi/YpLnolYm3DJMRFrOy51jKSkOhj4nOvNyDB8AAAwSSAwA6sv3QAAAABJRU5ErkJggg==);
            background-repeat: no-repeat;
            background-position: right center;
        }
        .desc {
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gkdCzIw/8d2JgAAABl0RVh0Q29tbWVudABDcmVhdGVkIHdpdGggR0lNUFeBDhcAAABeSURBVDjLY2AY8oARxuCdvPU/sZo+53rD9bEgiTcgYVwAQ54JydRGIm1vxGoALhsIyTHhM52Q7dhcgMsmnC5jIsYWfOJMRPgXb8wwEWMbvrBhIiLOG8hOpqSkzoEDAMzQIcrp+KZvAAAAAElFTkSuQmCC);
            background-repeat: no-repeat;
            background-position: right center;
        }
    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th data-type="integer">№</th>
        <th data-type="date">Дата</th>
        <th data-type="text">Имя</th>
        <th data-type="decimal">Сумма</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>12</td>
        <td>02.07.2016</td>
        <td class="name">Иванов Александр</td>
        <td>600.12</td>
    </tr>
    <tr>
        <td>7</td>
        <td>13.09.2017</td>
        <td class="name">Семенов Николай</td>
        <td>7200.60</td>
    </tr>
    <tr>
        <td>5</td>
        <td>20.05.2015</td>
        <td class="name">Антонов Алексей</td>
        <td>1248.16</td>
    </tr>
    <tr>
        <td>18</td>
        <td>24.12.2016</td>
        <td class="name">Алексеев Игорь</td>
        <td>20.65</td>
    </tr>
    <tr>
        <td>3</td>
        <td>17.08.2015</td>
        <td class="name">Потапов Серей</td>
        <td>12720.00</td>
    </tr>
    <tr>
        <td>1</td>
        <td>20.01.2015</td>
        <td class="name">Николаев Иван</td>
        <td>121.16</td>
    </tr>
    <tr>
        <td>21</td>
        <td>25.02.2017</td>
        <td class="name">Петров Алексей</td>
        <td>200.50</td>
    </tr>
    <tr>
        <td>16</td>
        <td>17.09.2016</td>
        <td class="name">Морозов Сергей</td>
        <td>100.15</td>
    </tr>
    <tr>
        <td>9</td>
        <td>25.03.2015</td>
        <td class="name">Иванов Константин</td>
        <td>600.25</td>
    </tr>
    <tr>
        <td>2</td>
        <td>29.04.2017</td>
        <td class="name">Потапов Андрей</td>
        <td>3200.00</td>
    </tr>
    </tbody>
</table>
</body>
</html>